<main>
  <div class="container-fluid">
    <div class="container">
      <div class="row main-content-block">
        <div class="index-body col-xl-12 col-lg-12 col-md-12">
          <section class="content-adress-block">
            <div class="addressee-block">
              <div class="addressee-content">
                <img src="../img/User_Avatar.png" alt="user_avatar" />
                <h2><%= groupName %></h2>
              </div>
            </div>
          </section>
          <form id="messages-form">
            <section class="content-message-block">
              <div class="messages-block">
                <div class="content-messages">
                  <div class="input-message" id="messages"></div>

                  <script id="message-template" type="text/template">
                     <img
                      src="../img/User_Avatar.png"
                      alt="user_avatar"
                      style="width: 500;"
                    />
                    <div>{{ sender }}</div>
                    <div class="msg" style="margin: 10px 0 0 10px;">
                      <p class="text">{{ text }}</p>
                      <p class="time">11:00</p>
                    </div>
                  </script>

                  <!-- start output messages -->
                  <div class="output-message">
                    <div class="msg">
                      <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Numquam, autem.
                      </p>
                      <p class="time">11:00</p>
                    </div>
                  </div>
                  <!-- end output messages -->
                </div>
              </div>
            </section>
            <section class="content-input-form">
              <div class="input-messages">
                <div class="input-content-microfone">
                  <button class="microphone content-btn" type="submit">
                    <i class="fas fa-microphone"></i>
                  </button>
                </div>

                <div class="send-message">
                  <div class="messages-form">
                    <input
                      type="hidden"
                      id="groupName"
                      value="<%= groupName %>"
                    />
                    <input
                      type="hidden"
                      name="sender"
                      id="sender"
                      value="<%= user.username %>"
                    />
                    <input
                      type="txt"
                      id="msg"
                      placeholder=" Write a message..."
                    />
                    <button type="submit" class="content-btn">
                      <i class="fas fa-paperclip"></i>
                    </button>
                  </div>
                </div>
                <button type="submit" class="btn-type-one btn-send-content">
                  Send
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
