/*Bg colors*/
$bg-color-primari-1 : #273142;
$bg-color-primari-2 : #1b2431;

/*Input colors*/
$bg-color-input-1: #222c3c;
$border-color-input-1: #313d4f;
$bg-color-input-2: #273244;
$border-color-input-2: #313d4f;
$bg-color-input-3: #273244;
$border-color-input-3: #1b92ed;
$bg-color-input-4: #222c3c;
$border-color-input-4: #ed1c24;
$bg-color-input-5: #222c3c;
$border-color-input-5: #36af47;

/*Text colors*/
$front-color-1: #ffffff;
$front-color-2: #7f8fa4;
$front-color-3: #6b727d;
$front-color-4: #5d6470;
$front-color-5: #2ea2f8;
$front-color-6: #354052;
$front-color-description: #7f8fa4;

/*Button colors*/
$bg-color-btn-1_1 : #34aa44 ;
$bg-color-btn-1_2 : #39b54a;
$bg-color-btn-2_1 : #1e930b ;
$bg-color-btn-2_2 : #1e9d09 ;
$bg-color-btn-3_1 : #1a740b  ;
$bg-color-btn-3_2 : #187a08  ;
$bg-color-btn-press: #222c3c;
$border-color-btn-press: #313d4f;

/*Celects*/
$bg-color-select-1: #273142;
$border-color-select-1: #313d4f;
$bg-color-select-2: #273142;
$border-color-select-2: #1b92ed;

/*Dropdowns*/
$bg-color-dropd-1: #273142;
$border-color-dropd-1: #313d4f;
$bg-color-dropd-2: #222c3c;
$border-color-dropd-2: #313d4f;
$bg-color-dropd-3: #313d4f;

/*Checkboxes*/
$bg-color-chbox-1: #1b2431;
$border-color-chbox-1: #313d4f;
$bg-color-chbox-press-1_1: #29b311 ;
$bg-color-chbox-press-1_2: #57d841 ; 

/*Label*/
$bg-color-label-1: #36af47;
$bg-color-label-2: #1991eb;
$bg-color-label-3: #ed1c24;
$bg-color-label-4: #516173;
$bg-color-label-5: #f7981c;
$bg-color-label-6: #dfe1e5;
$bg-color-label-7: #313d4f;

/*Tabs*/
$bg-color-tabs-1:#273142;
$border-color-tabs-1:#313d4f;
$bg-color-tabs-choice-1:#1991eb;

/*Notifications*/
$bg-color-nt-success: #36af47;
$bg-color-nt-massege: #1991eb;
$bg-color-nt-warning: #f7981c;
$bg-color-nt-error: #ed1c24;
$bg-color-notifi-1: #ff7800;


/*Tables*/
$bg-color-tables-1:#273142;
$border-color-tables-1: #313d4f;

/*Lists*/
$bg-color-lists-1: #9299a3;

/*Progress bars*/
$bg-color-progress-1_1: #1991eb;
$bg-color-progress-1_2: #2ea1f8;
$bg-color-progress-2_1: #fdba00;
$bg-color-progress-2_2: #f8cf5d;
$bg-color-progress-3_1: #7f5be6;
$bg-color-progress-3_2: #9d8fe3;
$bg-color-progress-4_1: #2bb415;
$bg-color-progress-4_2: #5ad946;
$bg-color-progress-5_1: #dd2c33;
$bg-color-progress-5_2: #f85359;